apiVersion: v1
kind: Service
metadata:
  name: react-frontend-service
spec:
  selector:
    app: react-frontend-service 
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173
  type: LoadBalancer

